<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="UserFileName" value="C:\Development\TwitterFeed\Data\user.txt"/>
    <add key="TweetFileName" value="C:\Development\TwitterFeed\Data\tweet.txt"/>
    <add key="TweetLength" value="140"/>
  </appSettings>
</configuration>